apiVersion: v1
kind: Service
metadata:
  name: {{ include "aegis.fullname" . }}
  namespace: {{ include "aegis.namespace" . }}
  labels:
    {{- include "aegis.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: {{ .Values.service.healthPort }}
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "aegis.selectorLabels" . | nindent 4 }}
